<style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: white;
    }

    .card {
      width: 500px;
      height: 300px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      text-align: center;
    }

.container {
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

    .loading {
      display: none;
      align-items: center;
      justify-content: center;
      height: 100px;
      font-size: 16px;
      color: #ffffff;
    }

    .loading.show-loading {
      display: none;
    }

    .loading::before {
      content: "";
      width: 70px;
      height: 70px;
      border-radius: 250%;
      border: 2px solid #4caf50;
      border-top-color: transparent;
      animation: spin 0.5s linear infinite;
    }

    .suggestion-list {
      list-style: none;
      padding: 0;
      margin-top: 10px;
      display: none;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 10px;
    }

    .suggestion-list-item {
      padding: 10px;
      cursor: pointer;
    }

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  margin:auto;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  transition: 0.8s;
  display: flex; 
  justify-content: center; 
}

.btn:hover {opacity: 0.4}

.section{
    padding-top: 38px;
    padding-bottom: 30px;
}

.arrow {
  text-align: center;
  margin: 6% 0;
}

.container {
    max-width: 100%;
}

.table {
      margin-left: auto;
      margin-right: auto;
    }

    table th {
      background-color: #dff9eb;
      padding: 8px;
      text-align: center;
    }

    table td {
      padding: 8px;
      text-align: center;
      has-text-centered;
    }

.centered-table {
    margin-left: auto;
    margin-right: auto;
  }

  .popup-container {
    position: relative;
    display: inline-block;
  }


  .table-container {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 20px; /* Adjust margin as needed */
  }

  .table-container td, .table-container th {
    padding: 10px;
    word-wrap: break-word; /* Allow word wrapping */
    max-width: 150px; /* Adjust max-width as needed */
  }



  .popup-content {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    width: 200px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .popup-container:hover .popup-content {
    display: block;
  }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

 #mySidenav {
  position: absolute;
  left: -55px;
  transition: 0.4s;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  text-align: left;
  border-radius: 10px 0 0 10px;
 }

 #mySidenav:hover {
left: 0;
}

#print {
  top: 40px;
  background-color: #4CAF50;
}

#lang {
  top: 20px;
  background-color: #4CAF50;
}

  @media print {
    .print-border {
      border: 1px solid black;
      padding: 10px;
    }
  }

.footer{
    padding-top: 10px;
    padding-bottom: 20px;
}

  .hide-on-print {
    display: initial;
  }

  @media print {
    .hide-on-print {
      display: none !important;
    }
  }

  .print-only {
    display: none;
  }

  @media print {
    .print-only {
      display: block !important;
    }
  }

@media (min-width: 768px) {
   .container {
    max-width: 720px;
   }
}
  </style>
